* {
  margin: 0;
  padding: 0;
  font-family: "General Sans";
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#mousecircle {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 999999;
  border-radius: 50%;
  background-color: #fff;
}
#main {
  width: 100%;
  background-color: black;
  color: #fff;
}
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: #fff;
}
#nav {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.bounding{
  width: fit-content;
}
.bounding h1{
  
}

#heading {
  margin-top: 80px;
}
#heading h1 {
  margin-left: 40px;
  opacity: 0.6;
  line-height: 1;
  font-family: "General Sans";
  font-size: 11vw;
  text-transform: uppercase;
}
.blockText {
  width: fit-content;
}
.blockText #secondh1 {
  margin-left: 150px;
}
.blockText #subtext {
  text-align: right;
  font-size: 13px;
  text-transform: uppercase;
}
.subheadings {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 100px;
  padding-right: 50px;
}

.subheadings h5 {
  text-transform: uppercase;
  margin-top: 0.5vw;
  font-size: 1vw;
  text-align: right;
}
.heroFooter {
  padding: 1vw 2vw;
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroFooter a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.heroFooter .iconset {
  display: flex;
  gap: 6px;
}
#circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #888;
}
#career {
  width: 100%;
  /* height: 100vh; */
  background-color: black;
  color: #fff;
  padding-top: 150px;
  padding-right: 10vw;
  padding-left: 30px;
}

.elementsection {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3.5vw 3vw;
  padding-right: 0;
  border-top: 1px solid #888;
}
.elementsection h1 {
  text-transform: uppercase;
  opacity: 0.7;
  font-size: 7.1vw;
}
.elementLast {
  border-bottom: 1px solid #888;
}
.elementsection img {
  position: absolute;
  z-index: 999;
  height: 100%;
  /* opacity: 0; */
  display: none;
}
.about {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 50px;
  background-color: black;
  color: #fff;
  padding: 10vw 5vw;
  padding-left: 40vw;
}

.about img {
  width: 250px;
}
.about h4 {
  color: #888;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
  opacity: 0.8;
}
#abouttext {
  flex-shrink: 1;
  width: 30rem;
}
.about p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 30px;
}
.about a {
  padding: 12px 22px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
.community {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
#subscribe {
  margin-bottom: 10px;
}
#subscribe h5 {
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 12px;
}
#subscribe h4 {
  text-transform: uppercase;
  /* font-size: 15px; */
}
.footer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  padding: 40px 30px;
}
#leftfooter {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#rightfooter {
  display: flex;
  gap: 30px;
}
#rightfooter a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
